* {
    margin: 0;
    padding: 0;
    font-family: 'work sans';
}


.btn-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 60px;
    background: #F15B22;
}

.section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.section-heading {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-bottom: 24px;
}

/* banner */
header {
    background: url(../images/banner/banner1.png);
    background-size: cover;
}

.banner {
    text-align: right;
    margin-right: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 130px;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 24px;
}

.banner-description {
    font-size: 16px;
    color: #444343;
    ;
    font-weight: 400;
    margin-bottom: 32px;
}

/* main area */
main {
    margin-left: 200px;
    margin-right: 100px;
}

/* my failures */
.failures-of-previous {
    display: flex;
    gap: 80px;
}

.failures-of-previous-contain {
    margin-top: 300px;
}

.failures-of-previous-contain ul {
    list-style: none;
}

.failures-of-previous-contain ul li {
    margin-bottom: 10px;
}

.failures-of-previous-contain ul li i {
    color: #16D887;
}

/* my plan*/
.my-plans {
    text-align: center;
    margin-top: 120px;
}

.plan-item-container {
    display: flex;
    gap: 80px;
}

.plan-item h2 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.plan-item p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* gradient */
.call-now {
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 8px;
}

.btn-secondary {
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 60px;


    color: #F15B22;


}

.call-now-content {
    margin-left: 64px;
    padding-top: 60px;
}


/* footer */
footer {
    background: #151414;

}

.footer-container {
    display: flex;
    gap: 300px;
    padding: 200px;

}

.future-description {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.email {
    color: #F3F3F3;
    background: #151414 margin-bottom: 20px;

}

.phone {
    color: #fff;
    margin-bottom: 30px;
}

.icon {
    margin-left: 20px;
    margin-right: 20px;
}

.subscribe h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.subscribe input[type="email"] {
    padding: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 18px;
}

.subscribe input[type="submit"] {
    background: #FFFFFF;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    padding: 20px;
}